<h1>Pesquisar</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_tag shops_path, :method => 'get' do %>
    <p>
      <%= text_field_tag :search, params[:name] %>

      <%= select_tag(:category, options_for_select(@categories.map{|c| [c.category, c.id] }), {:include_blank => true })%>

      <%= submit_tag "Pesquisar",:name => nil, :category_id => nil, class: "btn btn-large btn-primary" %>
    </p>

    <% end %>

    <p><%= link_to "Nova Loja", registo_path %></p>
    <p><%= link_to "Nova Categoria", categories_path %></p>
  </div>
</div>